<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/form-page.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body style="background-image: url(/public/background.jpg);">
    <h3>Logs:</h3>
    <div class="container">
        <p>
            <ul>
                <% logs_array.forEach(function(log) { %>
                    <li><%= log.user %></li>
                    <ul>
                        <li><b>Login date:</b> <%= log.loginDate %></li>
                        <li><b>Logout date:</b> <%= log.logoutDate %></li>
                    </ul>
                <%}) %>
            </ul>
        </p>
        <input type="submit" value="Back to home page" onclick="location.href='/'">
    </div>
</body>
</html>